.row-flex, .row-flex > div[class*='col-']
{  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap
{
  -webkit-flex-flow: row wrap;
align-content: flex-start;
flex:0;
}

.row-flex > div[class*='col-']
{  margin:-.2px; }

.btn-circle {
    width: 60px;
    height: 60px;
    border-radius: 35px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    white-space: normal; /* восстанавливаем свойству значение по умолчанию */
}

#invisible_button {

    background: transparent;
    border: none !important;
    font-size:0;
}